<%include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/catagories.css">

<!-- cards -->
<div class="container">
	<div class="card"  id="card1" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Flowers</h5>
			<p class="card-text">Some information here.</p>
			<!-- <a href="list" name="flowers" class="btn btn-primary">Flowers</a> -->
			<form action="/list/flowers" method="get">
				<input type="submit" class="btn btn-primary" name="flowers" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Photography</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/photography" method="get">
				<input type="submit" class="btn btn-primary" name="photography" value="View More">
			</form>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Catering</h5>
			<p class="card-text">Some information here.</p>
			<!-- <a href="list" name="catering" class="btn btn-primary">Go somewhere</a> -->
			<form action="/list/catering" method="get">
				<input type="submit" class="btn btn-primary" name="catering" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Wedding Cars</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/cars" method="get">
				<input type="submit" class="btn btn-primary" name="cars" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Parade</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/parade" method="get">
				<input type="submit" class="btn btn-primary" name="parade" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Chocolate Decoration</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/chocolate" method="get">
				<input type="submit" class="btn btn-primary" name="chocolate" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Venues</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/venues" method="get">
				<input type="submit" class="btn btn-primary" name="venues" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Planner</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/planner" method="get">
				<input type="submit" class="btn btn-primary" name="planner" value="View More">
			</form>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/pictures/photography.jpg" alt="Card image cap">
		<div class="card-body dark-trans">
			<h5 class="card-title">Sound & Light</h5>
			<p class="card-text">Some information here.</p>
			<form action="/list/sound" method="get">
				<input type="submit" class="btn btn-primary" name="sound" value="View More">
			</form>
		</div>
	</div>
</div>

<%include partials/footer%>