<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<body class="bouquet">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<div id="content">
						<h1>Uplan</h1>
						<h3>Where You Can Plan Your Own Event</h3>
						<hr>
						
						<button type="button" class="btn btn-dark dark-trans" data-toggle="modal" data-target="#myModal"><i class="fas fa-ring"></i> Get Started!</button>
					</div>
					
					<!-- start of modal popup signup div -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content color-grey curly" >
								<div class="modal-header" id="modal-signup">
									<h5 class="modal-title">Sign Up</h5>
									<button type="button" class="close" id="button-white" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								
								<!-- div for popup form -->
								<div class="modal-body color-grey" id="sign-up-trans">			
									<form action="/register" method="POST">
										<!-- Username form group -->
										<div class="form-group row">
											<label for="username" class="col-sm-2 col-form-label">Username</label>
											<div class="col-sm-10">
												<input name="username" type="text" class="form-control" id="username" placeholder="Username" required>
											</div>
										</div>
										
										<!-- Email form group -->
										<div class="form-group row">
											<label for="email" class="col-sm-2 col-form-label">Email</label>
											<div class="col-sm-10">
												<input name="email" type="email" class="form-control" id="email" placeholder="Email" required="true">
											</div>
										</div>
										
										<!-- Name form group -->
										<div class = "form-group row">
											<label class = "col-sm-2 col-form-label">First name</label>
											<div class = "col-sm-4">
												<input name="fname" type="text" class="form-control" placeholder="First name" required="true">
											</div>
											<label class="col-sm-2 col-form-label">Last name</label>
											<div class="col-sm-4">
												<input name="lname" type="text" class="form-control" placeholder="Last name" required="true">
											</div>
										</div>
										
										<!-- Type form group -->
										<div class="form-group row">
											<label class="col-sm-2 col-form-label" for="inputType">Type</label>
											<div class="col-sm-10">
												<select id="inputType" class="form-control" name="type">
													<option selected>Client</option>
													<option>Photography</option>
													<option>Flowers</option>
													<option>Catering</option>
													<option>Wedding Cars</option>
													<option>Parade</option>
													<option>Chocolate Decoration</option>
													<option>Venues</option>
													<option>Sound & Light</option>
													<option>Planners</option>
												</select>
											</div>
										</div>
										
										<!-- Password form group -->
										<div class="form-group row">
											<label for="password" class="col-sm-2 col-form-label">Password</label>
											<div class="col-sm-10">
												<input name="password" type="password" class="form-control" id="password" placeholder="Password" required="true">
											</div>
										</div>
										<div class="form-group row">
											<label for="confirm-password" class="col-sm-2 col-form-label">Confirm password</label>
											<div class="col-sm-10">
												<input type="password" class="form-control" id="confirm-password" placeholder="Password" required="true">
											</div>
										</div>
										
										<!-- Male/Female form group -->
										<fieldset class="form-group">
											<div class="row">
												<legend class="col-form-label col-sm-2 pt-0">Radios</legend>
												<div class="col-sm-10">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" required="true">
														<label class="form-check-label" for="inlineRadio1">Female</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" required="true">
														<label class="form-check-label" for="inlineRadio2">Male</label>
													</div>
												</div>
											</div>
										</fieldset>
									</div> <!-- End of popup content div -->
									
									<div class="modal-footer" id="signup-close">
										<button type="submit" class="btn btn-primary">Sign up</button>
									</div>
								</form>
							</div>
						</div>
					</div> <!-- End of modal div -->
				</div>
			</div>
		</div>
	</div>
</body>

<% include partials/footer %>