<%include partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<div class="container customize-prof">
	<h1 style="text-align: center;">Customize your profile</h1>
	<div style="width: 30%; margin: 25px auto;">
		<form action="/profile/<%=user._id%>?_method=PUT" method="POST">
				<!-- <div class="form-group">
					<input class="form-control" type="file" name="user[img]" enctype="multipart/form-data" placeholder="Profile Picture">
				</div> -->
				<div class="form-group">
					<input class="form-control" type="text" name="user[phone]" placeholder="Phone">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[location]" placeholder="Location">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[desc]" placeholder="Description" required>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="/home">Go back</a>
		</div>
	</div>

	<%include partials/footer%>